.banner-wrap {
  background-color: $black;
  max-width: 800px;
  margin: 0 auto;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span {
    color: $white;
  }
  figure {
    box-shadow: 0 0 8px 8px black inset;
    width: 720px;
    height: 405px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  #header {
  }
  #sub-header {
  }
  #stars {
    img {
      width: 40px;
      height: 40px;
    }
  }
  #category-wrapper {
    .category {
      font-size: 1.33rem;
      color: white;
      &:not(:last-child) {
        &::after {
          content: "|";
          padding-left: 3px;
          padding-right: 1px;
        }
      }
    }
  }
  hr {
    height: 1.5px;
    width: 125px;
    background-color: $white;
    border-color: $white;
    color: white;
    opacity: 1;
    margin-top: 0.8rem;
    margin-bottom: 0.5rem;
  }
  #year {
    span {
      font-size: 1.33rem;
      color: white;
    }
  }
}
