// Color Variables

$black: #000;
$white: #fff;
$yellow: #D29500;
$primary: $black;
$secondary: $yellow;

// $body-bg: $black;
// $headings-color: $white;

// Spacer Variables

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 2,
  6: $spacer * 3,
  7: $spacer * 4,
  8: $spacer * 5,
);

// Font Variables

$font-family-sans-serif: 'Open Sans', sans-serif;

$headings-font-weight: 600;

$font-size-base: 1rem;
$h1-font-size: 6 * $font-size-base;
$h2-font-size: 2.375 * $font-size-base;
$h3-font-size: 1.333 * $font-size-base;
$h4-font-size: $font-size-base;
$h5-font-size: $font-size-base;
$h6-font-size: $font-size-base;
